@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html>
<head>
    <title>
        Autocomplete Textbox in ASP.NET MVC
    </title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    <link rel="Stylesheet" href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.10/themes/redmond/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>  
    <script type="text/javascript">
        $(function () {
            $.ajax({
                type: "POST",
                url: "/Home/GetCountryList",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#txtCountry").autocomplete({ source: data });
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Error");
                }
            });
        });
    </script>  
</head>
<body>
    <label>
        Country
    </label>
    <input type="text" id="txtCountry" />

</body>
</html>


